@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Merriweather+Sans:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    margin:0px;
    padding:0px;

}

::selection{
    background-color: red;
    color: white;

}



.header{
    height : 25vh;
    background-image: linear-gradient(#ff7700cc,rgba(255, 255, 255)),url("images/header-img.jpg");
    text-align: center;
}

.header-h1{
    color: #CD113B;
    padding:10%;
    padding-top: 2%;
    font-family: 'Fredoka One', cursive;
    font-size: 4rem;
    font-weight: bold;

}
.container{
    text-align: center;
    margin-top:23px
}

table{
    margin: auto;
}

input{
    padding: 20px;
    border-radius: 21px;
    border: 5px solid #ff0b55;
    font-size:34px;
    height: 65px;
    width: 456px;
}
td{
    padding:5px;
}

button{
    
    border-radius: 20px;
    font-size: 2rem;
    width: 100px;
    height: 60px;
    margin: 6px;
    color:#ff0b55;
    border-radius: 20%;
    box-shadow: 5px 7px rgb(255, 238, 0) ;
    
}

button:hover{
    cursor:pointer;
    color: beige;
    background-color: #CD113B;
}

.calculator{ 
    border: 4px solid #f84323;
    background-color: #FB743E;
    padding: 25px;
    border-radius: 53px;
    display: inline-block;
    margin-top: 1px;
    box-shadow: 10px 15px #CD113B;
}

h1{
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
}


@media(max-width:1000px){
    .heading-h1{
            font-size:3rem;
    }
}

@media(max-width:700px){

.calculator{ 
    border: 4px solid #f84323;
    background-color: #FB743E;
    padding: 10px;
    border-radius: 53px;
    display: inline-block;
    box-shadow: 10px 15px #CD113B;
    width: 340px;
    margin-top: 80px;
}

button{
    border-radius: 20px;
    font-size: 2rem;
    width: 50px;
    height: 60px;
    margin: 6px;
    color:#ff0b55;
    border-radius: 20%;
    box-shadow: 5px 7px rgb(255, 238, 0) ;
}

input{
    padding: 20px;
    border-radius: 21px;
    border: 5px solid #ff0b55;
    font-size:34px;
    height: 65px;
    width: 300px;
}

.header-h1{
    color: #CD113B;
    padding: 10%;
    padding-top: 2%;
    font-family: 'Fredoka One', cursive;
    font-size: 3rem;
    font-weight: bold;
}










}

